<% provide(:about, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Skate Spot App</title>
  </head>
  <body>
    <h1>Skate Spot App</h1>
      <p>
        Welcome to the about page for the Skate Spot App.
      </p>
  </body>
</html>

