<!-- Source(s):
	https://sebastien.saunier.me/blog/2014/04/15/you-do-not-need-a-database-for-your-contact-form.html
-->


<% provide(:title, "Contact") %>
<% provide(:p, "Send us your questions, comments, & concerns.") %>
<% provide(:text, "<span style='color: #f4ffe3'>Amendment I: 'Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.'</span>".html_safe) %>


<!--div class="col-md-12 container homeDiv"-->
<div class="form-group homeDiv">
	<form action="http://formspree.io/skateapp4all@gmail.com" method="post">
		Your email: 
			<br><input type="email" name="_replyto" class="col-md-12 form-control">
		<br>&nbsp;<br>
		Your message: 
			<br><textarea name="body" class="col-md-12 form-control" style="width: 100%; padding: 12px 20px; margin 8px 0;"></textarea>
		<br>&nbsp;<br>
		<input class="btn btn-default" type="submit" value="Send" style="">
	</form>
</div>


