<% provide(:title, "Help") %>
<% provide(:p, "Welcome to the help page of Street Spot.") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
 </body>
</html>


