<!DOCTYPE html>
<% provide(:title, "Help") %>
<% provide(:p, " Created by a skater, for skaters.") %>


<div class="panel-group">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" href="#collapse1">
         Skate Spot Help Page
       </a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse">
					 <p></p>
   </div>
 </div>
</div>

