<% provide(:title) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help | Skate Spot App</h1>
      <p>Welcome to the help page of the Skate Spot App.
      </p>
 </body>
</html>


