<% provide(:title, "Help") %>
<% provide(:p, " Created by a skater, for skaters.") %>


<div id="skate_rating">

	<div class="panel-group">
	 <div class="panel panel-default">
		 <div class="panel-heading">
			 <h4 class="panel-title">
				 <a data-toggle="collapse" href="#collapse1">
					 Skate Spot Size Descriptions
				 </a>
			 </h4>
		 </div>
		 <div id="collapse1" class="panel-collapse collapse">
						
					<i>Skate Spot</i> 
					<ul>
									<li>3,000 - 5,000 SF</li>
									<li>serves 12,000 residents</li>
									<li>5 patron capacity</li>
					</ul>

					<i>Neighborhood Skatepark</i> 
					<ul>
									<li>8,000 - 11,000 SF</li>
									<li>serves 25,000 residents</li>
									<li>65 patron capacity</li>
					</ul>

					<i>Regional Skatepark</i> 
					<ul>
									<li>20,000+ SF</li>
									<li>serves 75,000 residents</li>
									<li>100+ patron capacity</li>
					</ul>

		 </div>
	 </div>
	</div>

	<div class="panel-group">
	 <div class="panel panel-default">
		 <div class="panel-heading">
			 <h4 class="panel-title">
				 <a data-toggle="collapse" href="#collapse2">
					 How do I create an event?
				 </a>
			 </h4>
		 </div>
		 <div id="collapse2" class="panel-collapse collapse">
						
					<i>Step One</i> 
					<ul>
									<li>Go to that particular skate spot page</li>
					</ul>

					<i>Step Two</i>
					<ul>
									<li>Look for the "Skate spot events" table</li>
					</ul>

					<i>Step Three</i>
					<ul>
									<li>Click button that says "Create an event"</li>
					</ul>


		 </div>
	 </div>
	</div>

</div>

