<% provide(:title, "Help") %>
<% provide(:p, " Created by a skater, for skaters.") %>


<div id="skate_rating">

	<div class="panel-group">
	 <div class="panel panel-default">
		 <div class="panel-heading">
			 <h4 class="panel-title">
				 <a data-toggle="collapse" href="#collapse4">
					 How do I create an account?
				 </a>
			 </h4>
		 </div>
		 <div id="collapse4" class="panel-collapse collapse">
					<i>Step One</i> 
					<ul>
									<li>After reading these steps, click on this link: <%= link_to "create account", new_user_path %>.
					</ul>

					<i>Step Two</i>
					<ul>
									<li>Check your email inbox for an activation email from us (skateapp4all@gmail.com). <br>Please note that sometimes it can take a few minutes for this activation email to arrive.</li>
					</ul>

					<i>Step Three</i>
					<ul>
									<li>Once the email arrives, open it and click the link that says "<u>Activate</u>".</li>
					</ul>
		 </div>
	 </div>
	</div>

	<div class="panel-group">
	 <div class="panel panel-default">
		 <div class="panel-heading">
			 <h4 class="panel-title">
				 <a data-toggle="collapse" href="#collapse1">
					 How is the size of a skate spot categorized?
				 </a>
			 </h4>
		 </div>
		 <div id="collapse1" class="panel-collapse collapse">
					<i>Skate Spot</i> 
					<ul>
									<li>3,000 - 5,000 square feet</li>
									<li>serves 12,000 residents</li>
									<li>5 patron capacity</li>
					</ul>
					<i>Neighborhood Skatepark</i> 
					<ul>
									<li>8,000 - 11,000 square feet</li>
									<li>serves 25,000 residents</li>
									<li>65 patron capacity</li>
					</ul>
					<i>Regional Skatepark</i> 
					<ul>
									<li>20,000+ square feet</li>
									<li>serves 75,000 residents</li>
									<li>100+ patron capacity</li>
					</ul>
		 </div>
	 </div>
	</div>

	<div class="panel-group">
	 <div class="panel panel-default">
		 <div class="panel-heading">
			 <h4 class="panel-title">
				 <a data-toggle="collapse" href="#collapse2">
					 How do I create an event?
				 </a>
			 </h4>
		 </div>
		 <div id="collapse2" class="panel-collapse collapse">
					<i>Step One</i> 
					<ul>
									<li>Go to skate spot page and find the skate spot you want to rate.</li>
					</ul>

					<i>Step Two</i>
					<ul>
									<li>Look for the "Skate spot events" table</li>
					</ul>

					<i>Step Three</i>
					<ul>
									<li>Click button that says "Create an event"</li>
					</ul>
		 </div>
	 </div>
	</div>

	<div class="panel-group">
	 <div class="panel panel-default">
		 <div class="panel-heading">
			 <h4 class="panel-title">
				 <a data-toggle="collapse" href="#collapse3">
					 How do I rate a spot?
				 </a>
			 </h4>
		 </div>
		 <div id="collapse3" class="panel-collapse collapse">
					<i>Step One</i> 
					<ul>
						<li>Go to skate spot page and find the skate spot you want to rate</li>
					</ul>

					<i>Step Two</i>
					<ul>
						<li>Click the panel labeled "Click to view ratings"</li>
					</ul>

					<i>Step Three</i>
					<ul>
						<li>Click the link that says "Be the first to rate this spot!" if no ratings are present. If ratings are present, click the "New Rating" link</li>
					</ul>
		 </div>
	 </div>
	</div>

</div>

