<% provide(:title, "Home") %>
<% provide(:p, " Created by a skater, for skaters.") %>

<% if logged_in? %>
  <div class="container">
					<div class="row">
						<aside class="col-md-4">
							<section class="user_info">
								<!--%= render 'shared/user_info' %-->
							</section>
							<section class="stats">
								<!--%= render 'shared/stats' %-->
							</section>
							<section class="micropost_form">
								<!--%= render 'shared/micropost_form' %-->
							</section>
						</aside>
				    <%= render partial: 'users/event' %>

						<!--div class="col-md-8" style="background:white"-->
						<!--div class="panel panel-default">
							<div class="panel-heading">
											<h4>Rating Feed</h4>
							</div>
							<div class="panel-body">
											%= render 'shared/rating_feed' %>
							</div>
						</div-->

					</div>
  </div>
<% end %>
