<!DOCTYPE html>
<br><br><br><br><br><br>
<div class="center jumbotron">
  <h1>
    Skate Spot App
  </h1>

  <h3>
    Home page of the Skate Spot App.
  </h3>

  <%= link_to new_user_path, class: 'btn btn-md btn-primary' do%>Create an account<% end %>

</div>


