<!DOCTYPE html>
<% provide(:title, "Home") %>
<% provide(:p, " Created by a skater, for skaters.") %>


<div class="panel-group">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" href="#collapse1">
         About
       </a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse">
     <p>This app allows users to document street spots by address.
        Any user is able to rate any street spot based on difficulty, likelihood of getting kicked out, the pedestrian level and to give a brief description of the spot.
        Users are also able to see other users documented street spots and to search for street spots by zip code.</p>
   </div>
 </div>
</div>

