<% provide(:title, "Home") %>
<% provide(:p, " Created by a skater, for skaters.") %>
<% provide(:text, "<b>Document, rate, and search for skate parks and city spots throughout the USA.</b>
<br><br>
<span style='color: #f4ffe3'>Users can do the following:<br>
<li>add a skate park or city spot to the site based on GPS/Geolocation coordinates</li>
<li>rate spots</li>
<li>upvote or downvote spots</li>
<li>view the spots that are within 120 mile radius of their GPS location
<li>follow, unfollow, block other users</li>
<li>view followings documented skate spots</li>
<li>reply to other users descriptions of skate spots from their posted ratings</li>
<li>post about upcoming events at skate parks and city spots</li>
<li>a recommender feature that will recommend spots for you based on the spot you are looking at</li>
</span>
".html_safe) %>

<% if logged_in? %>
  <div class="container">
					<div class="row">
						<aside class="col-md-4">
							<section class="user_info">
								<!--%= render 'shared/user_info' %-->
							</section>
							<section class="stats">
								<!--%= render 'shared/stats' %-->
							</section>
							<section class="micropost_form">
								<!--%= render 'shared/micropost_form' %-->
							</section>
						</aside>
					</div>
  </div>
<% end %>
