<% provide(:title, "Skate Resources") %>
<% provide(:p, "A collection of skateboarding links that perhaps you hadn't heard about.") %>
<% provide(:text, "<span style='color: #f4ffe3'>These include anything from social media platforms to various well written articles.</span>".html_safe) %>


<table class="table table-bordered table-striped skate_table">
   <tr>
     <td>
       <button type="button" class="btn" data-toggle="collapse" data-target="#collapseme">
         Various Social Media Group Resources
       </button>
     </td>
   </tr>
   <tr id="collapseme" class="collapse out">
		<td>
			<div>
				<table class="table table-bordered table-striped skate_table">
					<thead>
						<tr>
							<th>Name/Homepage</th>
							<th>Type</th>
							<th>Email</th>
							<th>YouTube</th>
							<th>Instagram</th>
							<th>Facebook</th>
							<th>Twitter</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="http://girlsskatenetwork.com/"><img border="0" src="https://yt3.ggpht.com/-i5tEwOUgDEs/AAAAAAAAAAI/AAAAAAAAAAA/7kmpdXFeTLU/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" width="75" height="75"></a></td>
							<td>Female skateboarding</td>
							<td>Email not listed.</td>
							<td><a href="https://www.youtube.com/user/GirlsSkateNetwork" class="btn btn-link" role="button">GSN Youtube</a></td>
							<td><a href="https://www.instagram.com/girlsskatenetwork/?hl=en" class="btn btn-link" role="button">@girlsskatenetwork</a></td>
							<td><a href="https://www.facebook.com/girlsskatenetwork/" class="btn btn-link" role="button">GSN Facebook</a></td>
							<td><a href="https://twitter.com/girlsskatenet?lang=en" class="btn btn-link" role="button">@GirlsSkateNet</a></td>
						</tr>
						<tr>
							<td><a href="http://www.girlsshred.com"><img border="0" src="http://i67.tinypic.com/s3zo2h.jpg" width="75" height="75"></a></td>
							<td>Female skateboarding</td>
							<td>Email not listed.</td>
							<td>No YouTube account.</td>
							<td><a href="https://www.instagram.com/girlsshred/?hl=en" class="btn btn-link" role="button">@girlsshred</a></td>
							<td><a href="https://www.facebook.com/girlsshred" class="btn btn-link" role="button">Girls Shred Facebook</a></td>
							<td><a href="https://twitter.com/GirlsShred" class="btn btn-link" role="button">@GirlsShred</a></td>
						</tr>
					</tbody>
				</table>
		  </div>
		</td>
	</tr>
</table>

