<% provide(:title, "Skate links") %>
<% provide(:p, "A collection of skateboarding links that perhaps you hadn't heard about.") %>


<table class="table table-bordered table-striped skate_table">
   <tr>
     <td>
       <button type="button" class="btn" data-toggle="collapse" data-target="#collapseme">
         Female Skateboarding
       </button>
     </td>
   </tr>
   <tr id="collapseme" class="collapse out">
		<td>
			<div>
				<table class="table table-bordered table-striped skate_table">
					<thead>
						<tr>
							<th>Name</th>
							<th>YouTube</th>
							<th>Instagram</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="http://girlsskatenetwork.com/"><img border="0" src="https://yt3.ggpht.com/-i5tEwOUgDEs/AAAAAAAAAAI/AAAAAAAAAAA/7kmpdXFeTLU/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" width="75" height="75"></a></td>
							<td><a href="https://www.youtube.com/user/GirlsSkateNetwork" class="btn btn-link" role="button">Female Shredders</a></td>
							<td><a href="https://www.instagram.com/girlsskatenetwork/?hl=en" class="btn btn-link" role="button">@girlsskatenetwork</a></td>
						</tr>
						<tr>
							<td><a href="https://www.facebook.com/girlsshred"><img border="0" src="http://i67.tinypic.com/s3zo2h.jpg" width="75" height="75"></a></td>
							<td>No YouTube account.</td>
							<td><a href="https://www.instagram.com/girlsshred/?hl=en" class="btn btn-link" role="button">@girlsshred</a></td>
						</tr>
					</tbody>
				</table>
		  </div>
		</td>
	</tr>
</table>

