<% provide(:title, "Skate Resources") %>
<% provide(:p, "A collection of skateboarding links that perhaps you hadn't heard about.") %>
<% provide(:text, "<span style='color: #f4ffe3'>These include anything from social media platforms to various well written articles.</span>".html_safe) %>


<table class="table table-bordered table-striped skate_table">
   <tr>
     <td>
       <button type="button" class="btn" data-toggle="collapse" data-target="#collapseme">
         Various Social Media Group Resources
       </button>
     </td>
   </tr>
   <tr id="collapseme" class="collapse out">
		<td>
			<div>
				<table class="table table-bordered table-striped skate_table">
					<thead>
						<tr>
							<th>Name/Homepage</th>
							<th>Type</th>
							<th>Email</th>
							<th>YouTube</th>
							<th>Instagram</th>
							<th>Facebook</th>
							<th>Twitter</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="http://girlsskatenetwork.com/"><img border="0" src="https://yt3.ggpht.com/-i5tEwOUgDEs/AAAAAAAAAAI/AAAAAAAAAAA/7kmpdXFeTLU/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" width="75" height="75"></a></td>
							<td>Female skateboarding</td>
							<td><span class="glyphicon glyphicon-remove"></span>&nbsp;Not listed</td>
							<td><a href="https://www.youtube.com/user/GirlsSkateNetwork" class="btn btn-link fa fa-youtube" role="button">&nbsp;GSN Youtube</a></td>
							<td><a href="https://www.instagram.com/girlsskatenetwork/?hl=en" class="btn btn-link fa fa-instagram" role="button">&nbsp;@girlsskatenetwork</a></td>
							<td><a href="https://www.facebook.com/girlsskatenetwork/" class="btn btn-link fa fa-facebook" role="button">&nbsp;GSN Facebook</a></td>
							<td><a href="https://twitter.com/girlsskatenet?lang=en" class="btn btn-link fa fa-twitter" role="button">&nbsp;@GirlsSkateNet</a></td>
						</tr>
						<tr>
							<td><a href="http://www.girlsshred.com"><img border="0" src="http://i67.tinypic.com/s3zo2h.jpg" width="75" height="75"></a></td>
							<td>Female skateboarding</td>
							<td><span class="glyphicon glyphicon-remove"></span>&nbsp;Not listed</td>
							<td><span class="glyphicon glyphicon-remove"></span>&nbsp;Not listed</td>
							<td><a href="https://www.instagram.com/girlsshred/?hl=en" class="btn btn-link fa fa-instagram" role="button">&nbsp;@girlsshred</a></td>
							<td><a href="https://www.facebook.com/girlsshred" class="btn btn-link fa fa-facebook" role="button">&nbsp;Girls Shred Facebook</a></td>
							<td><a href="https://twitter.com/GirlsShred" class="btn btn-link fa fa-twitter" role="button">&nbsp;@GirlsShred</a></td>
						</tr>
						<tr>
							<td><a href="http://www.skatemdhh.com"><img border="0" src="http://www.skatemdhh.com/uploads/4/0/1/8/40188689/8108683.jpg" width="75" height="75"></a></td>
							<td>Special needs skateboarding</td>
							<td><a href="mailto:skatemd.healinghearts@gmail.com"><span class="glyphicon glyphicon-envelope">&nbsp;Email SkateMD</span></a></td>
							<td><a href="https://www.youtube.com/channel/UCBJFmM6obS1_F5vaK1dirBQ" class="btn btn-link fa fa-youtube" role="button">&nbsp;SkateMD Youtube</a></td>
							<td><span class="glyphicon glyphicon-remove"></span>&nbsp;Not listed</td>
							<td><a href="https://www.facebook.com/skatemdhh?fref=ts" class="btn btn-link fa fa-facebook" role="button">&nbsp;SkateMD Facebook</a></td>
							<td><a href="https://twitter.com/skatemd_hh" class="btn btn-link fa fa-twitter" role="button">&nbsp;@SkateMD_HH</a></td>
						</tr>
						<tr>
							<td><a href="http://www.callingallskaters.org"><img border="0" src="https://static1.squarespace.com/static/544eac4ce4b09c33e858788f/t/559f4e39e4b0da93269c212b/1438042561351/CASCrestBacked.png?format=2500w" width="75" height="75"></a></td>
							<td>Christian skateboarding</td>
							<td><a href="mailto:headquarters@callingallskaters.org"><span class="glyphicon glyphicon-envelope">&nbsp;Email CAS</span></a></td>
							<td><a href="https://www.youtube.com/channel/UCuATp5D-rm-vmr-jzhCROYQ" class="btn btn-link fa fa-youtube" role="button">&nbsp;CAS Youtube</a></td>
							<td><a href="https://www.instagram.com/callingallskatersofficial/" class="btn btn-link fa fa-instagram" role="button">&nbsp;@callingallskatersofficial</a></td>
							<td><span class="glyphicon glyphicon-remove"></span>&nbsp;Not listed</td>
							<td><span class="glyphicon glyphicon-remove"></span>&nbsp;Not listed</td>
						</tr>
					</tbody>
				</table>
		  </div>
		</td>
	</tr>
</table>

