<!--Sources:
https://www.railstutorial.org/book
https://www.railstutorial.org/book/account_activation_password_reset-->

<h1>Skate App</h1>

<p>Hello <%= @user.name %>,</p>

<br>
<p>
Welcome to the Skate Spot App! To activate your account, click on the link below:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email), class: 'btn btn-default' %>

<br>
<br>
<p>Enjoy the App!</p>
<br>

<br>
Sincerely,<br>
skateapp4all.org

