<div class="page-header skate_show_header">
				<br><center><h5><b>Skate Spot Events</b></h5></center>
<% if @events.count > 0 %>
 <div class="table-responsive">
   <table class="table user_ST">
     <thead>
       <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Skate Spot</th>
       </tr>
     </thead>

     <tbody>
      <% @events.each do |event| %>
      <tr>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.eventDate_LB %></td>
					<td><%= SkateSpot.find_by(:id => event.skate_spot_id).name %></td>
        </tr>
      </tr>
     <% end %>
   </tbody>
  </table>
 </div>
<% else %>
		<center>There are no events posted.</center>
<% end %>
</div>

