<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
		<%= render 'unfollow' %><br>
		<% if current_user.user_has_blocked(@user) %>
		<% else %>
						<%= link_to "Block", users_block_user_url(:user_id => current_user.id, :other_user => @user.id), :class => "btn btn-primary" %>
		<% end %>
  <% else %>
		<% if current_user.user_has_blocked(@user) %>
						<%= link_to "Unblock", users_unblock_user_url(:user_id => current_user.id, :other_user => @user.id), :class => "btn btn-default" %>
		<% else %>
						<%= render 'follow' %>
    <% end %>
  <% end %>
  </div>
<% end %>
