<!--Sources:
https://www.railstutorial.org/book, Hartl Michael, 2014
https://www.railstutorial.org/book/updating_and_deleting_users-->

<% provide(:title, 'Update') %>
<% provide(:p, "Make changes to your profile") %>
<% provide(:text, "<span style='color: #f4ffe3'>
In order to set a profile picture, you must have an account with Gravatar.<br>
You may make an account <a href='https://en.gravatar.com'>here</a>.</span>".html_safe) %>
<% provide(:button_text, 'Save Changes') %>
 
<%= render 'form' %>
