<!--Sources:
https://www.railstutorial.org/book, Hartl Michael, 2014
https://www.railstutorial.org/book/updating_and_deleting_users-->

<% provide(:title, 'Users') %>
<!--<h1>All users</h1>-->

<%= will_paginate %>

<!-- (inferred by RoR) @users is list of User objects; 
& is automatically iterated through & each user is rendered w/ _user partial -->
<!--<ul class="users">
   render is called directly on @users 
   render @users 
</ul>-->
<%= render 'user' %>
<%= will_paginate %>
