<div class="page-header skate_show_header">
 <br>
 <center><h5><b>Skate Spot Events</b></h5></center>
    <% if logged_in? %>
     <center><%= link_to 'Create an Event', new_skate_spot_event_path(@skate_spot), class: "btn btn-info" %></center>
    <% end %>
<% if @events.count > 0 %>
 <div class="table-responsive">
   <table class="table skate_table">
     <thead>
       <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
       </tr>
     </thead>

     <tbody>
      <% @events.each do |event| %>
      <tr>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.date.localtime.strftime "%B %e, %Y at %l:%M %p" %></td>
        </tr>
      </tr>
     <% end %>
   </tbody>
  </table>
 </div>
<% else %>
	<br><center>There are no events for this skate spot.</center><br>
<% end %>
</div>
