<div id="skate_rating">

	
	<div class="row">
		<div class="container col-sm-4">
			<table class="table">
				<thead>
					<th>Difficulty</th>
					<th>Pedestrians</th>
					<th>Security</th>
				</thead>

				<tbody>
					<tr>
						<td><%= @skate_spot.ratings.average(:difficulty) %></td>
						<td><%= @skate_spot.ratings.average(:pedestrian) %></td>
						<td><%= @skate_spot.ratings.average(:police) %></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

</div>
