<div class="container" id="skateRec">
<center><h5><b>Recommended Skate Spots</b></h5></center>


<center><p>These skate spots are based on skate spots with similar ratings, material, and skate spot size.</p></center>


<table class="table skate_table">
	<thead>
		<tr>
			<th>(***) Name</th>
			<th>(**) Name</th>
			<th>(*) Name</th>
		</tr>
	</thead>
	<tbody>	
		<tr>

			<td style="width: 33%">
				<table class="table skate_table">
					<% if !@sprSpr_skateSpots.nil? %>
						<% @sprSpr_skateSpots.each do |skate_spot| %>
							<tr>
								<td>
									<span class="skate_link"><%= link_to "#{skate_spot.name}", skate_spot %></span>
								</td>
							</tr>
						<% end %>
					<% end %>
				</table>
			</td>

			<td style="width: 33%">
				<table class="table skate_table">
					<% if !@spr_skateSpots.nil? %>
						<% @spr_skateSpots.each do |skate_spot| %>
							<tr>
								<td>
									<span class="skate_link"><%= link_to "#{skate_spot.name}", skate_spot %></span>
								</td>
							</tr>
						<% end %>
					<% end %>
				</table>
			</td>

			<td style="width: 33%">
				<table class="table skate_table">
					<% if @m_skateSpots.count > 0 %>
						<% @m_skateSpots.each do |skate_spot| %>
							<tr>
								<td>
									 <span class="skate_link"><%= link_to "#{skate_spot.name}", skate_spot %></span>
								</td>
							</tr>
						<% end %>
					<% end %>
				</table>
			</td>

		</tr>
 </tbody>	
</table>
