<p id="notice"><%= notice %></p>

<% if params[:street] == "1" %>
	<% provide(:title, "Documented (Street)") %>
<% elsif params[:park] == "1" %>
	<% provide(:title, "Documented (Park)") %>
<% else %>
	<% provide(:title, "Documented") %>
<% end %>
<% provide(:p, "The skate spots are ordered alphabetically. 
					 Click the name of the skate spot for more details.") %>



<%= render 'index_partial' %>

<% if @skate_spots.present? %>
<div id="index_map"></div>
<!--script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-XKZoYCQoqSadvpEnrI5wqiMVR9S_9Do&callback=allinitMap">
</script-->
<br>
<% end %>

<span style="display:none" id="all_latlng"><%= @all_latlng%></span>


