<p id="notice"><%= notice %></p>

<% provide(:title, "Documented (Park)") %>
<% provide(:p, "The park spots are ordered alphabetically. 
					 Click one to view more details.") %>


<%= render 'index_partial' %>

<% if @skate_spots.present? %>
<div id="index_map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-XKZoYCQoqSadvpEnrI5wqiMVR9S_9Do&callback=allinitMap">
</script>
<br>
<% end %>

<span style="display:none" id="all_latlng"><%= @all_latlng%></span>



