<p id="notice"><%= notice %></p>

<% provide(:title, "Ratings") %>
<% provide(:p, "Below are the park spots that have been rated by users.") %>
<% provide(:text, "Select how you would like to sort the ratings") %>

<%= render 'index_partial' %>


