<h1>New Rating</h1>

<%= render 'form' %>

<!-- /skate_spots/:skate_spot_id/ratings/ -->
<%= link_to 'Back', skate_spot_ratings_path(@rating.skate_spot) %>
<!-- instead of: %= link_to 'Back', ratings_path %>-->
