<!--Sources:
   https://www.railstutorial.org/book, Hartl Michael, 2014
   https://www.railstutorial.org/book/updating_and_deleting_users
   http://stackoverflow.com/questions/18898947/rails-number-field-alternative-    for-decimal-values-->
 
<% provide(:button_text, 'Submit') %>
  <div class="panel panel-default">
    <div class="panel-body">

    <%= form_for(@location) do |f| %>
      <!--%= render 'shared/error_messages', object: @skate_spot %>-->

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>

    <% end %>

  </div>
</div>


<!--%= form_for(@location) do |f| %>
  % if @location.errors.any? %>
    <div id="error_explanation">
      <h2>%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      % @location.errors.full_messages.each do |message| %>
        <li>%= message %></li>
      % end %>
      </ul>
    </div>
  % end %>

  <div class="actions">
    %= f.submit %>
  </div>
 end %>-->
