<% provide(:title, "HashTag") %>
<% provide(:p, "Trending skateparks for #{@hashtag.name} hashtag.") %>

<!--div class="row homeDiv">
	<div class="col-xs-6">
		<h4>Trending skate spots:</h4>
		% if @patinar_ids.any? %>
			% @all_ss.each do |as| %>
				<button type="button" class="btn btn-default">
					<span class="skate_link">%= link_to "#{as.name}", as %></span>
				</button><br>
			% end %>
		% end %>
		</span>
	</div>
</div-->

<!--% if !@ok.nil? %>
	% @skate_ids = Array.new %>
	% @ok.each do |o| %>
		% if o.class.name == "Rating" %>
			% @rating_items = o %>
			% @skate_ids.push(o.skate_spot_id) %>
		% else %>
			% @rating_items = getRating(o.rating_id) %>
			% @skate_ids.push(@skate_spot.first.id) %>
		% end %>
	% end %>

 @stuff = @skate_ids.uniq.map{|t| [t,@skate_ids.count(t)]}.to_h %>

 retrieveSpots(@skate_ids.uniq) %>
 getOthers(@hashtag.rating_ids.keys.uniq) %>
 collectHT %-->
 <% mappedTags %>
 <% otherTags %>


<div class="row homeDiv">
	<div class="col-xs-6">
		<h4>Trending skate spots:</h4>
		<% if @patinar_ids.any? %>
			<% @all_ss.each do |as| %>
				<button type="button" class="btn btn-default">
					<span class="skate_link"><%= link_to "#{as.name}", as %></span>
				</button><br>
			<% end %>
		<% end %>
	</div>

		<!--% if @all_spots.any? %>
			% @all_spots.each do |as| %>
				<button type="button" class="btn btn-default">
					<span class="skate_link">%= link_to "#{as.name}", as %></span>
				</button><br>
			% end %>
			% if @other_spots.any? %>
					<span style="color: red;">HEYYYO</span>
			% end %>
		% else %>
			Testing
		% end %>
		<span style="color: blue;">testing.<br><br></span-->

	<div class="col-xs-6">
		<h4>Other trending hashtags:</h4>
		<span style="color: #caff77">

			<% @new = @tags.group_by{ |joy| joy.second.count } %>
			<span style="color: black;">
				<% @new.each do |nu| %>
					<button type="button" class="btn btn-primary btn-xs" style="color: white">
						<%= link_to "#{nu[1][0][0]}", hash_tag_show_path(id: HashTag.where(:name => nu[1][0][0]).first.id) %>
					</button><br>
				<% end %>
			</span>

<br><br>

			<% @other_new = @other_tags.group_by{ |joy| joy.second.count } %>
			<span style="color: black;">
				<% @other_new.each do |o_nu| %>
					<% o_nu.second.each do |on| %>
						<button type="button" class="btn btn-primary btn-xs" style="color: white">
							<%= link_to "#{on[0]}", hash_tag_show_path(id: HashTag.where(:name => o_nu[1][0][0]).first.id) %>
						</button><br>
					<% end %>
<br>
				<% end %>
			</span>

		</span>
	</div>

</div>


<!--br><br><br>
<div class="homeDiv">
	% retrieveSpots(@skate_ids.uniq) %>
	% @all_spots.each do |as| %>
		<button type="button" class="btn btn-default btn-block">
			%= as.name %>(%= @stuff[as.id] %>)
		</button><br>
	% end %>
</div-->



