<% provide(:title, "HashTag") %>
<% provide(:p, "Trending skateparks for #{@hashtag.name} hashtag.") %>

<!--% mappedTags %>
 otherTags %-->
<% reRa_count %>



<div class="container">
	<div class="row skateSearch">
		<div class="col-xs-6">
			<h4>Trending skate spots:</h4>
			<% if @patinar_ids.any? %>
				<% @all_ss.each do |as| %>

						<button type="button" class="btn btn-default btn-xs">
							<span class="skate_link"><%= link_to "#{as.name}", as %></span>
						</button><br>

				<% end %>
			<% end %>
		</div>

		<div class="col-xs-6">
			<h4>Other trending hashtags:</h4>
			<span style="color: #caff77">
					<% @reRa.each do |raw| %>
						<button type="button" class="btn btn-default btn-xs">
							<span class="skate_link">
								<%= link_to "#{raw[0]} (#{raw[1]})", hash_tag_show_path(id: HashTag.where(:name => raw[0]).first.id) %>
							</span>
						</button><br>
					<% end %>
			</span>
		</div>



	</div>
</div>




