/* Background Image */
/* Sources for help: http://stackoverflow.com/questions/19055811/twitter-bootstrap-responsive-background-image-inside-div */ 
html body {
   background: url(https://binaryfortressdownloads.com/Download/WPF/Images/23343/WallpaperFusion-venice-skate-park-1680x480.jpg) no-repeat center fixed;
	 // Below are all other possibilites for background images
   /*background: url(http://sf.co.ua/12/10/wallpaper-2315669.jpg) no-repeat center fixed;*/
   /*background: url(http://s5.favim.com/orig/69/black-and-white-guy-skate-skateboard-Favim.com-654720.jpg) no-repeat center fixed;*/
   /*background: url(https://s-media-cache-ak0.pinimg.com/736x/ce/8a/5e/ce8a5eb4d7d281e58e79b0f4860b2ca8.jpg) no-repeat center fixed;*/
   /*background: url(https://pleasurephoto.files.wordpress.com/2012/10/outside-looking-in-skateboarding-photographer-scott-pommier-c.jpg) no-repeat center fixed;*/
   /*background: url(http://assets.lookbookspro.com/ray-brown-productions/lg_5101af2a-72c4-49dc-8a6e-52240a26c5b6.jpg) no-repeat center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-position: center;
  height: 500px;
	//background-color: $dark-background;
} 

