$grayMediumLight: #eaeaea;
$grayLight: #999;

.stats {
	button {
		a {
			color: $grayLighter; 
		}
		background: transparent;
		transition: all 0.3s ease-out;
		box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.5),
			0 2px 2px rgba(0,0,0,0.3),
			0 0 4px 1px rgba(0,0,0,0.2);
	}
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
		font-size: 75%;
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: inherit;
      background: transparent;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
