//navbar-inverse is line 3947 in custom.scss
/*.navbar-inverse {
  background-color: #d8d8d8;
  border-color: #d8d8d8; }
  .navbar-inverse .navbar-nav > li > a {
    color: #1c1c1c; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #aaa9a9;
    color: #fff; }*/


#bar{
	color: #595959;
}

#main_footer {
	height: 50px;
	background-color: #f7f7f7;
	.container-fluid {
		padding-top: 15px; 
		padding-bottom: 15px;
		color: #7f7f7f;
		font-size: smallest;
	}
}

