.homeDiv {
	background-color: $BG-blue-medium;
	padding: 30px 15px;
	color: inherit;
	border-radius: 6px;
	border: 10px solid $txt-blue-light;
	box-shadow: 0 1px 4px #acacac, 0 0 0 1px #dadada;
	.row {
		padding: 30px 30px;
	}
}
