#user_index_map {
		height: 400px;
		width: 100%;
}

#index_map {
		height: 400px;
		width: 100%;
}

#show_map {
		height: 400px;
		//width: 65%;
		width: 100%;
		float: right;
		display:inline-block;
		margin-bottom: 30px;
}
