.view_profile{
		a {
				color: inherit;
		}
		a:hover {
				color: inherit;
				background-color: #b7b7b7;
				text-decoration: none;
		}
}

.micropost_form{
		//background-color:red;
}

.stats{
		//background-color:blue;
}

.user_info{
		//background-color:yellow;
}

.stats_micro_form{
		background-color: #A0A0A0;
		padding: 30px 15px;
		color: inherit;
		border-radius: 6px;
}

.news_feed_posts {
		background-color: #fff;
		padding: 30px 15px;
		color: inherit;
		border-radius: 6px;
}


