.filterTable1{
	float: left;
	@media (min-width: 769px) {
		width: 45%;
		td {
			width: 22%;
		}
	}
	@media (max-width: 768px) {
		width: 34%;
		td {
			width: 17%;
			font-size: 75%;
		}
	}
}

.filterTable2{
	float: right;
	@media (min-width: 769px) {
		width: 45%;
		td {
			width: 22%;
		}
	}
	@media (max-width: 768px) {
		width: 34%;
		td {
			width: 17%;
			font-size: 75%;
		}
	}
}

.filterCell{
}

.skate_table {
		//background-color: #a0a0a0;
		//background-color: #6d97bf;
		background-color: #7daddb;
		border-radius: 6px;
		color: inherit;
		width: 100%;
}

.skate_table > tbody > tr:hover {
	/*background-color: #b7b7b7; }*/
	background-color: #6d97bf; }

.user_link {
   a {
       color: inherit;
   }
		a:hover {
				color: inherit;
				background-color: #b7b7b7;
				text-decoration: none;
		}
}

.skate_link {
    a {
        color: inherit;
    }
		a:hover {
				color: inherit;
				background-color: #b7b7b7;
				text-decoration: none;
		}
}

.skate_show_header{
				border-radius: 5px;
				//background-color: #a0a0a0;
				background-color: #7daddb;
				h5 {
						font-size: 1.1em;
				}
}

#skateSearch {
				border-radius: 5px;
				//background-color: #a0a0a0;
				background-color: #7daddb;
				//width: 250px;
				width: 100%;
				padding: 10px 10px;
				float: left;
				display: inline;
}

#skateRec {
				border-radius: 5px;
				//background-color: #a0a0a0;
				background-color: #7daddb;
				padding: 10px 10px;
				float: left;
				display: inline;
				width: 100%
}

#myTable {
				float: left;
				clear: left;
}

#spaceDiv {
				padding: 30px 30px;
}

#RecSpaceDiv {
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
