// file contains styling for skate_spots view pages

.filterCheck {
	height: 25px;
	width: 25px;
	vertical-align: middle;
}

.filterLabel {
	margin-right: 20px;
	font-size: 14px;
	vertical-align: middle;
}

.filterSelect {
	margin-bottom: 10px;
}

.ssFont {
	font-size: 16px;
	text-shadow: rgba(245, 245, 245, 0.5) 1px 4px 4px;
}


.progress {
	background-color: $BG-white-light;
	margin-bottom: 5px;
}


.filterCell{
}

.filterTable1{
	float: left;
	tbody {
		background-color: rgba(0, 0, 0, 0);
	}
	@media (min-width: 769px) {
		width: 45%;
		td {
			width: 22%;
		}
	}
	@media (max-width: 768px) {
		width: 34%;
		td {
			width: 17%;
			font-size: 75%;
		}
	}
}

.filterTable2{
	float: right;
	tbody {
		background-color: rgba(0, 0, 0, 0);
	}
	@media (min-width: 769px) {
		width: 45%;
		td {
			width: 22%;
		}
	}
	@media (max-width: 768px) {
		width: 34%;
		td {
			width: 17%;
			font-size: 75%;
		}
	}
}


.skate_table_new {
	background-color: $BG-blue-medium;
	border-radius: 6px;
	color: inherit;
	width: 100%;
	thead, tbody, tr, td {
		background-color: rgba(0, 0, 0, 0);
	}
	@media (max-width: 768px) {
		thead, tbody, tr, td {
			font-size: x-small;
		}
	}
}

.skate_table {
		//background-color: #a0a0a0;
		//background-color: #6d97bf;
		//background-color: #7daddb;
		background-color: $BG-blue-medium;
		border-radius: 6px;
		color: inherit;
		width: 100%;
}

.skate_table tr, thead, tbody {
		background-color: $BG-blue-medium;
		border-radius: 6px;
		color: inherit;
		width: 100%;
}

.skate_table > tbody > tr:hover {
	/*background-color: #b7b7b7; }*/
	background-color: #6d97bf; }

.user_link {
   a {
       color: inherit;
   }
		a:hover {
				color: inherit;
				background-color: #b7b7b7;
				text-decoration: none;
		}
}

.skate_link {
    a {
        color: inherit;
    }
		a:hover {
				color: inherit;
				background-color: #b7b7b7;
				text-decoration: none;
		}
}

.skate_show_header{
	background-color: $BG-blue-medium;
	border-radius: 5px;
	h5 {
			font-size: 1.1em;
	}
	.skate_table_new {
		background-color: rgba(0, 0, 0, 0);
	}
}

.skate_table_rec {
	background: none;
	thead, tbody {
		background: none;
	}
}

//#skateSearch {
.skateSearch {
	border-radius: 5px;
	//background-color: #a0a0a0;
	//background-color: #7daddb;
	background-color: $BG-blue-medium;
	//width: 250px;
	width: 100%;
	padding: 10px 10px;
	float: left;
	display: inline;
}

#skateRec {
	border-radius: 5px;
	//background-color: #a0a0a0;
	//background-color: #7daddb;
	background-color: $BG-blue-medium;
	padding: 10px 10px;
	float: left;
	display: inline;
	width: 100%
}

#myTable {
	float: left;
	clear: left;
}

#spaceDiv {
				padding: 30px 30px;
}

#RecSpaceDiv {
}



