.user_ST {
		border-radius: 6px;
		color: inherit;
		width: 100%;
		thead, tbody {
			background-color: rgba(0,0,0,0);
		}
}

.skate_section {
		background-color: none; 
		border-radius: 6px;
		color: inherit;
		width: 100%;
		padding: 10px 10px;
}


.searchBar {
	border-radius: 6px;
	width: 200px;
	height: 31px;
	margin-top: 10px;
}

