/**
	* Slowly migrating CSS colors to 
	* this file for easier color 
	* changing in the future.
	*/

$bodyFont-color: #67655D;

$chat-border-light: rgba(#67655D, .40);

$gray-medium-light: #eaeaea;

$BG-blue-light: rgba(#2CA8FF, .40);

$jTron-h1: #caff77;
$jTron-txt: #f4ffe3;

