<% provide(:title, "#{@organization.name}") %>
<% provide(:p, "#{@organization.category}") %>
<% provide(:text, "<span style='color: #f4ffe3'>Hey admin! You are editing the #{@organization.name} organization.</span>".html_safe) %>

<%= render 'form' %>


