<h1>Editing Rating</h1>

<%= render 'form' %>

<!-- /skate_spots/:skate_spot_id/ratings/:id -->
<%= link_to 'Show', [@rating.skate_spot, @rating] %> |
<!-- instead of: %= link_to 'Show', @rating %> |-->

<!-- /skate_spots/:skate_spot_id/ratings/ -->
<%= link_to 'Back', skate_spot_ratings_path(@rating.skate_spot) %>
<!-- instead of: %= link_to 'Back', ratings_path %>-->
