<%= form_for(@skate_spot) do |f| %>
  <% if @skate_spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skate_spot.errors.count, "error") %> prohibited this skate_spot from being saved:</h2>

      <ul>
      <% @skate_spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
