<!--Sources:
https://solidfoundationwebdev.com/blog/posts/fixed-footer-in-bootstrap-3
-->


<footer class="navbar-default navbar-fixed-bottom" id="main_footer">
	<div class="container-fluid">
		<span>Whoever believes in him is not condemned, 
					but whoever does not believe stands condemned
					already because they have not believed
					in the name of God's one and only Son. &#8226; John 3:18</span>
	</div>
</footer>
