<!--Sources:
https://solidfoundationwebdev.com/blog/posts/fixed-footer-in-bootstrap-3
-->


<footer class="navbar-default navbar-fixed-bottom" id="main_footer">
	<div class="container-fluid">
		<% if params["controller"] == "static_pages" %>
			<span>
				But by hope we be made safe. For hope that is seen,
				is not hope; for who hopeth that thing, that he seeth? &#8226; Romans 8:24
			</span>
		<% elsif params["controller"] == "organizations" %>
			<span>
				The heart of the wise teacheth his mouth,
				and addeth learning to his lips. &#8226; Proverbs 16:23
			</span>
		<% elsif params["controller"] == "users" %>
			<span>
					Better is a dry morsel, and quietness therewith,
					than an house full of sacrifices with strife. &#8226; Proverbs 17:1
			</span>
		<% elsif params["controller"] == "skate_spots" %>
			<span>
					Keep thy heart with all diligence;
					for out of it are the issues of life. &#8226; Proverbs 4:23
			</span>
		<% elsif params["controller"] == "ratings" %>
			<span>
					Hear, O my son, and receive my sayings;
					and the years of thy life shall be many. &#8226; Proverbs 4:10
			</span>
		<% elsif params["controller"] == "events" %>
			<span>
					Withhold not good from them to whom it is due,
					when it is in the power of thine hand to do it.
					&#8226; Proverbs 3:27
			</span>
		<% elsif params["controller"] == "hash_tag" %>
			<span>
					A fool uttereth all his mind: but a wise man
					keepeth it in till afterwards.
					&#8226; Proverbs 29:11
			</span>
		<% elsif params["controller"] == "sessions" %>
			<span>
					Have I not written thirty sayings for you,
					sayings of counsel and knowledge &#8226; Proverbs 22:20
			</span>
		<% end %>
	</div>
</footer>
